* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

:root {
  --primario: #e1e4ed;
  --secundario: #999999;
  --tercero: #85a2f3f6;
  --cuarto: #3b03ca;
  --quinto: #26b13b;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
}
/* Inicio de header */
header {
  width: 20%;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primario);
  border: 1px var(--tercero) solid;
}
header .container-btn {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--cuarto);
  box-shadow: 0 0 8px var(--secundario);
  font-size: 15px;
}
header .container-btn button:hover {
  background-color: var(--tercero);
}

/* Inicio de main */
main {
  width: 100%;
  max-height: 100vh;
  background-image: url(imagenes/pexels-tirachard-kumtanom-733857.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--cuarto);
  position: relative;
}
main h1 {
  text-align: center;
  font-size: 40px;
}
/* sección lista de tareas */
main .section {
  width: 70%;
  height: 70%;
  padding: 20px;
  background-color: var(--primario);
  border: none;
  box-shadow: 0 0 6px var(--cuarto);
  border-radius: 15px;
}
main .section .container-inf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
/* formulario */
.edit-container{
  width: 100%;
}
main .section .container-inf .form-create, 
.form-edit {
  width: 100%;
}
.form-create .container-inp, 
.container-inp-edit {
  position: relative;
}
.form-create .container-inp #task, 
#task-edit {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
}
.form-create .container-inp .validation {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
}

main .section #list,
.task-pending,
.task-in-process,
.task-finished {
  height: 100%;
  width: 100%;
}
main .section .filter-btn {
  display: flex;
  gap: 10px;
}
/* sección nueva tarea */
main .section #inp-create {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}
.section #inp-create input {
  width: 90%;
  height: 40px;
  margin-top: 10px;
  border: none;
  outline: none;
  font-size: 15px;
}
.select {
  width: 100%;
  height: 35px;
  margin: 20px;
  border: none;
  outline: none;
  font-size: 15px;
}
/* Modal */
body .container-modal {
  width: 100vw;
  height: 100vh;
  background-color: #0000008b;
  top: 0;
  right: 0;
  position: absolute;
  /* display: none; */
}

body .container-modal .modal {
  height: 60%;
  width: 50%;
  background-color: var(--primario);
  border: none;
  box-shadow: 0 0 8px var(--cuarto);
  border-radius: 15px;
  position: relative;
  top: 155px;
  left: 370px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#close-modal {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  right: 10px;
  top: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
#info-delete p{
  font-size: 20px;
}
.btns-delete{
  display: flex;
  justify-content: center;
  gap:15px;
  padding: 30px;
}
/* ocultar vista */
.hidden {
  display: none;
}


/*Modo Oscuro */
.dark-mode .titulo {
  color: #ffffff;
}

.dark-mode main {
  background-color: #313131;
  background-image: none;
}

.dark-mode header {
  background-color: #000000eb;
  color: #ffffff;
  border: none;
}
.dark-mode header button {
  background-color: rgb(54, 53, 53);
  color: #ffffff;
  box-shadow: 0 0 10px var(--cuarto);
}

.dark-mode main .section {
  background-color: #000000eb;
  color: white;
  box-shadow: 0 0 6px var(--cuarto);
}

/* validadción formulario */
.error {
  font-size: small;
  color: #ff0000;
  font-style: italic;
}
.valid {
  font-size: small;
  color: #07de4f;
  font-style: italic;
}
.incorrect {
  color: #ff0000;
  opacity: 1;
}
.right {
  opacity: 0;
}
